#title_container
  .title
    = @topic.title
  .description
    = @topic.description

#posts_container
  %ul    
    = render :partial => 'post', :collection => @posts
    
#topic_actions
  = link_to 'Post a reply', new_post_path(:topic_id => @topic.id)

= link_to "Back to topics", subforum_path(@topic.subforum)