- if user_signed_in?
  %li
    Signed in as
    %em
      = current_user.username
- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path)
- else
  %li
    = link_to('Login', new_user_session_path)
    
- if user_signed_in?
  %li
    = link_to('Edit Registration', edit_user_registration_path)
- else
  %li
    = link_to('Register', new_user_registration_path)