!!!
%head
  %title Gib
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
%body
  #user_cp
    %ul
      = render :partial => '/shared/user_cp'
  .clear
  #main_container
    = yield
  - if admin_signed_in?  
    #admin_cp
      = render :partial => '/shared/admin_cp'